<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Sergey Chepurnykh">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Main</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img class="logo" src="../static/images/logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Main</a></li>
            <li><a href="/contact/">Contacts</a></li>
	    <li><a href="/student_list/">Students</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1 class="intro">О курсе PyBursa</h1>
        <h2 class="sub_blocks">Description</h2>
       <div class="desc_back">
        <p class="desc_pad_bot">Курсы PyBursa предназначены для тех, кто хочет изучить основы современного, востребованного и в то же время очень понятного языка программирования <strong>Python</strong>.</p>
	<p>Вы получите базовые знания о переменных, операторах, функциях, классах. И изучите фреимворком Django, что позволит содавать собственные Web проекты быстро и качественно.</p>
       </div>
     </div>


      <div class="jumbotron">
        <h2 class="sub_blocks">Program</h2>
       <div class="row" style="padding:10px 18px;">
        <div class="col-md-12" style="padding:0;">
          <div class="rtable" style="width:100%;">
	    <div class="rTableRow">
                	<div class="rTableCell_f" style="width:20%;">Недели</div>
                	<div class="rTableCell_s" style="width:30%;">Название курса</div>
                	<div class="rTableCell_t" style="width:50%;">Техногогии</div>
             </div>
             <div class="rTableRow_nechet">
                	<div class="rTableCell_w">1</div>
                	<div class="rTableCell_c">Основы html/css. GIT</div>
                	<div class="rTableCell_d">
				<p>html - теги и свойства</p>
				<p>css - свойства и селекторы</p>
				<p>Bootstrap</p>
				<p>GIT basic reference</p>
                 	</div>
              </div>
              <div class="rTableRow_chet">
                	<div class="rTableCell_w">2</div>
                	<div class="rTableCell_c">Django first steps</div>
                	<div class="rTableCell_d">
				<p>введение и описание фреймворка, старт проекта</p>
				<p>инструменты отладки браузера</p>
				<p>HTTP (GET, POST), (200, 404, 500), headers, cookies</p>
				<p>админка</p>
			</div>
              </div>
              <div class="rTableRow_nechet">
                	<div class="rTableCell_w">3</div>
                	<div class="rTableCell_c">Структура Web приложения. Работа с базами данных, ORM</div>
                	<div class="rTableCell_d">
				<p>MVC</p>
				<p>Views</p>
				<p>роутинг урлов, передача параметров</p>
				<p>обработка реквеста, формирование респонса</p>
				<p>мидлвар</p>
				<p>модели и поля, типы полей и аттрибуты</p>
				<p>связи между таблицами и проектирование БД</p>
				<p>миграции</p>
				<p>QuerySet</p>
			</div>
              </div>
              <div class="rTableRow_chet">
                <div class="rTableCell_w">4</div>
                <div class="rTableCell_c">Кастомизация админки. Язык шаблонов</div>
                <div class="rTableCell_d">
<p>настройка отображения виджетов админки</p>
<p>сортировка, фильтры, поиск</p>
<p>синтаксис шаблонов, логические конструкции</p>
<p>наследование и includes шаблонов</p>
<p>теги и фильтры</p>
</div>
              </div>
              <div class="rTableRow_nechet">
                <div class="rTableCell_w">5</div>
                <div class="rTableCell_c">Forms. Class-based (Generic) Views.</div>
                <div class="rTableCell_d">
<p>формы, типы полей, виджеты и аттрибуты, валидация</p>
<p>встроеные class-based views (TemplateView, ListView, ItemView)</p>
<p>синтаксис шаблонов, логические конструкции</p>
<p>миксины</p>
</div>
              </div>
              <div class="rTableRow_chet">
                <div class="rTableCell_w">6</div>
                <div class="rTableCell_c">Реализация стандартных задач. Средства отладки и тестирование. Деплоймент.</div>
                <div class="rTableCell_d">
<p>отправка емейл, кеширование, интернационализация, батарейки (готовые решения)</p>
<p>logging, pdb, debug toolbar, extensions, unit-tests, selenium</p>
<p>nginx, управление статикой, деплоймент</p>
</div>
              </div>
          </div>
        </div>
      </div>
    </div>

<nav aria-label="forward-back">
  <ul class="pager">
    <li class="left"><a href="/">Назад</a></li>
    <li class="right"><a href="/contact/">Вперед</a></li>
  </ul>
</nav>
  </body>
</html>

