<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Sergey Chepurnykh">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Student detail</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><img class="logo" src="../static/images/logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Main</a></li>
            <li><a href="contact.html">Contacts</a></li>
	    <li class="active"><a href="student_list.html">Students</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

<div class="media">
  <div class="media-left media-top">
    <a href="student_detail.html">
      <img class="media-object" src="../static/images/python-001.jpg" alt="avatar">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading intro">Chepurnykh Sergey</h1>
    <h2 class="media-heading sub_blocks">About student</h2>
	<div class="divTable">
		<div class="divTableBody">
			<div class="divTableRow">
				<div class="divTableCell intro">Surname</div>
				<div class="divTableCell">Chepurnykh</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Name</div>
				<div class="divTableCell">Sergey</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Patronymic</div>
				<div class="divTableCell">Andreevich</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Birth Date</div>
				<div class="divTableCell">01.01.1986</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Address</div>
				<div class="divTableCell">Украина, г. Харьков, ул. Иванова 1</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">E-mail</div>
				<div class="divTableCell">schepurnykh@gmail.com</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Skype</div>
				<div class="divTableCell">schepurnykh</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Average Grade</div>
				<div class="divTableCell">99%</div>
			</div>
			<div class="divTableRow">
				<div class="divTableCell intro">Rating</div>
				<div class="divTableCell">10</div>
			</div>
		</div>
	</div>
  </div>

<div class="divTable">
	<div class="divTableBody">
		<div class="divTableRow">
			<div class="divTableCell intro">Course</div>
			<div class="divTableCell intro">Week</div>
			<div class="divTableCell intro">Control Type</div>
			<div class="divTableCell intro">Grade</div>
		</div>
		<div class="divTableRow">
			<div class="divTableCell">PY105 HTML&CSS</div>
			<div class="divTableCell">Week1</div>
			<div class="divTableCell" style="padding-top:0px;">&nbsp;
				<div class="divTableRow">
					<div class="divTableCell">Tests</div>
				</div>
				<div class="divTableRow">
					<div class="divTableCell">Problem Task N1</div>
				</div>
			</div>
			<div class="divTableCell">92%</div>
		</div>
	</div>
</div>

</div>

<nav aria-label="forward-back">
  <ul class="pager">
    <li class="left_details"><a href="student_list.html">Назад</a></li>
  </ul>
</nav>
  </body>
</html>

